@model IEnumerable<ProjectSoPro.Models.PersonRoles>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   <table class="table">
    <thead>
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.directors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producers)
            </th>
              <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.actors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.directors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RolesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RolesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RolesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
